.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul {
  list-style: none;
  width: 40%;
  background-color: aliceblue;
  margin: 10px auto;
  box-shadow: 5px 10px 8px #888888;
}
.task {
  font-size: 20px;
}
li {
  text-align: left;
  padding: 10px;
}
span > button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
input {
  margin-right: 10px;
}
